body {
  margin: 0;
  padding: 110px;
  background-image: url(./Image/jaguar_i_type_3_jaguar_vip_car_jaguar_i_pace_etrophy_4k.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
